<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="projectDemo.Properties.Settings.ist2akConnectionString"
            connectionString="Data Source=143.128.146.30\istn2;Initial Catalog=ist2ak;User ID=ist2ak;Password=kwiy14;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>